.App {
  text-align: center;
}
table {
  margin: auto;
  margin-top: 20px;
}
body {
  background: #025;
  color: #fff;
}
button {
  background: #754584;
  color: #fff;
  outline: 0;
  border-color: transparent;
  border-radius: 4px;
  padding: 4px 10px;
  transition: background .4s ease;
}
button:hover {
  background: #3c114a;
}